body {
	overflow: hidden;
	background: #f9f9f9;
}
div.prerender {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: #f9f9f9;
	font-size: 35px;
	line-height: 70vh;
	text-align: center;
	color: #555;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
div.prerender .spinner {
	position: absolute;
	margin-left: -30vw;
	margin-top: 45vh;
}
/*Cards*/
.gridster {
	width: 100vw;
	height: 500px;
}
.gridster ul#elems {
	position: relative;
	width: 100%;
	height: 600px;
	margin-left: 35px;
	margin-top: 30px;
}
.gridster ul#elems li {
	background: #288dff;
	list-style: none;
}
/*Custom directive*/
.card-small {
	display: inline-block;
	width: 320px;
	height: 140px;
	background: grey;
}
.card-square {
	display: inline-block;
	width: 295px;
	height: 295px;
	background: blue;
}
#cardExpanded {
	background: #e9e9e9;
	z-index: 999;
	margin: 0;
	position: absolute;
}
/*--------------------*/
div.template.nav {
	position: absolute;
	width: 86px;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	background: #f7f7f7;
	margin-left: -86px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
div.template.nav.active {
	margin-left: 0;
}
div.template.nav div.minimized {
	position: absolute;
	width: 86px;
	height: 100vh;
	z-index: 999;
	cursor: pointer;
	background: #f7f7f7;
}
div.template.nav div.minimized div.app.icon {
	width: 64px;
	height: 64px;
	margin-left: 11px;
	margin-top: 75px;
	background: url("../assets/icon.png") no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}
div.template.nav div.minimized div.menu.icon {
	width: 64px;
	height: 64px;
	margin-left: 11px;
	margin-top: calc(50vh - 325px);
	font-size: 1.75em;
	text-align: center;
	line-height: 64px;
	color: #333;
}
div.template.nav div.minimized div.copyright {
	position: absolute;
	width: 86px;
	height: 50px;
	margin-top: calc(100vh - 290px);
	font-size: 23px;
	line-height: 50px;
	text-align: center;
	color: #F2676F;
}
div.template.nav div.expanded {
	position: absolute;
	width: 300px;
	height: 100vh;
	left: -214px;
	z-index: 50;
	background: #f7f7f7;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	transition-timing-function: ease-in-out;
}
div.template.nav div.expanded div.nav {
	width: 300px;
	height: 64px;
	margin-top: 75px;
}
div.template.nav div.expanded div.nav div.title {
	position: absolute;
	margin-left: 11px;
	font-family: "Helvetica Neue","Tw Cen MT",sans-serif;
	font-size: 30px;
	font-weight: 200;
	line-height: 64px;
	color: #2296f3;
	cursor: default;
}
div.template.nav div.expanded div.options {
	width: 300px;
	height: 50vh;
	margin-top: 5vh;
}
div.template.nav div.expanded div.options ul li.item {
	width: 300px;
	height: 40px;
	margin-left: 11px;
	list-style: none;
	font-family: "Helvetica Neue","Tw Cen MT",sans-serif;
	font-size: 20px;
	font-weight: 200;
	line-height: 40px;
	text-transform: uppercase;
	color: #0074d1;
	cursor: pointer;
}
div.template.nav div.expanded div.options a {
	text-decoration: none;
}
div.template.nav div.expanded div.options ul li.item:after {
	content: "";
	position: absolute;
	width: 0px;
	height: 3px;
	margin-top: 35px;
	left: 11px;
	background: #0074d1;
	overflow: hidden;
	transition: all 0.25s;
}
div.template.nav div.expanded div.options ul li.item:hover::after {
	width: 40px;
}
div.template.view {
	position: absolute;
	width: calc(100vw - 86px);
	margin-left: 86px;
	height: 100vh;
	background: #fefefe;
	overflow-x: hidden;
	overflow-y: auto;
}
/*-----------------------------------dash-------------------------*/
/*Greet*/
div.greet {
	height: 150px;
	background: #f9f9f9;
}
div.greet h3 {
	position: absolute;
	margin-top: 35px;
	margin-left: 45px;
	color: #5394ff;
}
div.greet p {
	position: relative;
	margin-top: 65px;
	margin-left: 45px;
	color: #888;
}
/*Subjects*/
div.subjects {
	width: 100%;
	height: 100px;
	background: #f9f9f9;
}
div.subjects ul {
	width: 100%;
	height: 100px;
}
div.subjects ul li {
	display: inline-block;
	width: 220px;
	height: 50px;
	margin-top: 25px;
	margin-left: 45px;
	background: #f3f3f3;
	box-shadow: 0 2px 0 #f1f1f1;
	cursor: pointer;
}
div.subjects ul li span {
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	margin-left: 18px;
	margin-top: 16px;
	border: 2px solid #f3f3f3;
	border-radius: 100%;
	background: #FCE964;
}
div.subjects ul li p {
	position: absolute;
	width: 150px;
	overflow: hidden;
	margin-left: 50px;
	padding-left: 10px;
	font-size: 18px;
	line-height: 50px;
}
div.subjects p.error {
	margin-left: 45px;
	color: #888;
	font-style: italic;
}
/*Flash*/
div.flash {
	width: 100%;
	height: 250px;
	background: #e7e7e7;
}
div.flash div.now {
	width: 60%;
	height: 250px;
	position: absolute;
	background: #00EBC1;
}
div.flash div.decorator.top {
	width: 80%;
	height: 7px;
	margin-left: 45px;
	margin-top: 35px;
	background: inherit;
}
div.flash div.decorator.top span.thick {
	position: absolute;
	width: 15%;
	height: 7px;
	margin-left: -1px;
	background: #17AB91;
}
div.flash div.info p.title {
	font-size: 16px;
	margin-left: 45px;
	margin-top: 5px;
	color: #17AB91;
}
div.flash div.info p.des {
	font-size: 35px;
	margin-left: 45px;
	margin-top: 20px;
	color: #fff;
}
div.flash div.info span.icon {
	float: right;
	margin-right: 50px;
	margin-top: -140px;
	clear: left;
}
div.flash span.mode {
	display: block;
	margin-left: 45px;
	margin-top: 50px;
	color: #2DCFB2;
}
div.flash div.next {
	width: 40%;
	position: absolute;
	margin-left: 60%;
	background: #00ffd0;
	height: 250px;
}
div.flash div.next div.decorator.top span.thick {
	width: 25%;
	background: #17AB91;
}
div.flash div.next div.info p.title {
	color: #17AB91;
}
div.flash div.next div.info p.des {
	color: #f7f7f7;
}
/* --------------------------------reminder view-------------------------------- */
::-webkit-input-placeholder { color:rgba(200,200,200,0.5);; }
#reminderView {
	position: absolute;
	margin-left:0;
	background:url("../assets/reminderBackground.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
#reViewAdd {
	position:absolute;
	width:100%;
	height:80px;
	outline:none;
	border:none;
	background:rgba(200,200,200,0.3);
	font-family: Georgia,Calibri,"Raleway";
	font-style: italic;
	font-size: 18px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:10px;
	padding-left: 30px;
	color:white;
}
#reminderView .item {
	position: relative;
	background: rgba(220,220,220,1);
	box-shadow: 0 1.5px 0 #808080;
	width:70%;
	height:40px;
	font-size:18px;
	margin-left: 10%;
	margin-top:5px;
	line-height:40px;
	padding:10px;
	padding-left:20px;
	border-radius:3px;
	overflow: hidden;
}
#reminderView #itemWrap {
	margin-top:120px;
}
#reminderView .tickBox {
	width:30px;
	height:30px;
	float:right;
	margin-right:30px;
	margin-top:1.5px;
	border:1px solid #808080;
	border-radius: 3px;
}
/*---------------------------log in--------------------------*/
div#loginView {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 800;
	background: #f9f9f9;
	overflow: hidden;
	opacity: 1;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
#loginView #loginCard {
	position: absolute;
	width: 40%;
	height: 350px;
	margin-left:30%;
	margin-top: 25vh;
	text-align: center;
	z-index: 800;
}
div#loginView #loginCard input {
	width: 85%;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #288dff;
	margin-top: 25px;
	background: inherit;
}
#loginView #loginCard h3 {
	width: 95%;
	height: 60px;
	text-align: left;
	padding-top: 60px;
	padding-left: 5%;
	margin-bottom:20px;
	background: #5394ff;
	color: #fff;
}
#loginView #loginCard #loginButton {
	margin-top: 50px;
	width: 120px;
	height: 40px;
	float: right;
	margin-right: 7.5%;
	clear: left;
	background: #5394ff;
}
#loginView div.loading {
	position: absolute;
	width: 100%;
	height: 100vh;
	margin-top: 20%;
	opacity: 0;
	background: white;
	z-index: 500;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#loginView div.loading h3 {
	margin-top: 20vh;
	margin-left: 30%;
	color: #5394ff;	
}
#loginView div.loading p {
	margin-left: 30.5%;
	color: #999;
}
/*---------------------------assessment-----------------------*/
.assessmentContainer {
	position: absolute;
	width:48%;
	height:120px;
	border-bottom:1.5px dashed #dac742;
	margin-top:20px;
	margin-left:7%;	
	border-radius: 3px;
	text-align: left;
}
.assessmentName {
	font-family:"Raleway", Calibri;
	color:#f5f5f5;
}
.assessmentDate {
	font-size: 16px;
	color: #dac742;
}
.progressBar {
	width:90%;
	height:5px;
	margin-left:5%;
	margin-top:10px;
	border:none;
	outline:none;
}
.assessmentContainer:nth-child(2) {
	border: none;
	margin-top:160px;
}
/*-----------------------------------option-------------------------*/
.optSection {
	position: relative;
	width:70%;
	margin-left:15%;
	margin-top:20px;
	background:white;
	box-shadow: 0 1.5px 0 #f7f7f7;
}
.sectionName {
	position: relative;
	margin-top:80px;
	border-bottom:1.5px dashed rgba(128, 128, 128, 0.7);
	padding-bottom:20px;
}
.sectionItem {
	position: relative;
	list-style: none;
	width:100%;
	height:50px;
	margin-top:10px;
	border-radius:3px;
	line-height: 50px;
	font-size: 20px;
}
.sectionItem .optButton {
	position: relative;
	border:none;
}
.sectionItem .optAction {
	position: relative;
	float:right;
}
.sectionItem .displayTickBox {
	outline:none;
	width:20px;
	height:20px;
	margin-top: -65px;
	background: white;
	border:none;
}
.sectionItem .tickBox {
	outline:none;
	width:20px;
	height:20px;
	background: white;
	border:none;
	margin-top:10px;
}
.sectionItem .tickBoxName {
	margin-left: -30px;
}
/*---------------EVERNOTE----------------*/
iframe#evernote {
	width: calc(100vw - 86px);
	height: 100vh;
	margin: 0;
}
/*---------------TIMETABLE---------------*/
.gridster ul#elems li.timetable {
	background: #FCE964;
}
li.timetable span.info {
	position: absolute;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 25px;
	color: #555;
}
li.timetable p.des {
	position: absolute;
	margin-top: 55px;
	margin-left: 20px;
	font-size: 14px;
	color: #777;
}
li.timetable button.view {
	position: absolute;
	margin-top: 120px;
	margin-left: 20px;
	color: #288dff;
	border: none;
	padding-left: 0;
}
/*---------------CALENDAR----------------*/
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

#mini-clndr {
  font-family: Asap, Helvetica, Arial;
  margin: 0 auto;
  margin-top: 150px;
  width: 324px;
  height: auto;
/*  -moz-box-shadow: 4px 4px 0 #343434;
  -webkit-box-shadow: 4px 4px 0 #343434;
  box-shadow: 4px 4px 0 #343434;*/
}
#mini-clndr .clndr {
  /*overflow-x: hidden;*/
  overflow-y: visible;
  /*border-bottom: 7px solid #69a776;*/
}
#mini-clndr .clndr .controls {
  /*background-color: #69a776;*/
  background-color: #47A3DA;
  color: white;
}
#mini-clndr .clndr .controls .clndr-previous-button,
#mini-clndr .clndr .controls .clndr-next-button {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#mini-clndr .clndr .controls .clndr-previous-button:hover,
#mini-clndr .clndr .controls .clndr-next-button:hover {
  /*background-color: #528b5e;*/
  background-color: #2A91CF;
}
#mini-clndr .clndr .controls .month {
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
#mini-clndr .clndr .days-container {
  position: relative;
  width: 100%;
  height: 186px;
  display: inline-block;
}
#mini-clndr .clndr .days-container .days {
  position: absolute;
  left: 0;
  /*width: 100%;*/
  /*height: auto;*/
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  /*background-color: #ebebeb;*/
}
#mini-clndr .clndr .days-container .days .day,
#mini-clndr .clndr .days-container .days .empty {
  width: 45px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1em;
  text-align: center;
  /*color: #212121;*/
  color: #212121;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#mini-clndr .clndr .days-container .days .day.event,
#mini-clndr .clndr .days-container .days .empty.event {
  /*background-color: #d2d2d2;*/
  background-color: #0D77B6;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
#mini-clndr .clndr .days-container .days .day.event:hover,
#mini-clndr .clndr .days-container .days .empty.event:hover {
  /*background-color: #b8b8b8;*/
  background-color: #0D77B6;
}
#mini-clndr .clndr .days-container .days .day.adjacent-month,
#mini-clndr .clndr .days-container .days .empty.adjacent-month {
  color: rgba(0, 0, 0, 0.3);
}
#mini-clndr .clndr .days-container .days .empty {
  height: 31px;
  vertical-align: bottom;
}
#mini-clndr .clndr .days-container .days .headers {
  /*background-color: #97ce7f;*/
  background-color: #0D77B6;
  padding-top: 5px;
  padding-bottom: 5px;
}
#mini-clndr .clndr .days-container .days .headers .day-header {
  width: 46px;
  display: inline-block;
  text-align: center;
  color: white;
}