<div class="greet">
	<h3>Hello, {{user.fullName}}</h3>
	<br><p>{{status}}</p>
</div>
<div class="subjects">
	<p ng-show="!user.subjects.length" class="error">
		Looks like you are not enrolled in any courses
		<br>Please contact technical support for more information
	</p>
	<ul>
		<li ng-repeat="item in user.subjects | limitTo: 4">
			<span class="colorCode" ng-style="{ background: colorOf($index) }"></span>
			<p class="name">{{item.name}}</p>
		</li>
	</ul>
</div>
<!-- <div class="card splash">
	<div class="summary">
		{{subject}} starting in {{timeleft}}
	</div>
	<div class="info">
		<div class="noteCount">{{noteCount}} notes&nbsp;&nbsp;&nbsp;&nbsp;{{resourceCount}} resources</div>
	</div>
	<div class="actions">
		<div class="item">Open notes</div>
		<div class="item">View resources</div>
	</div>
</div>
<div class="card reminder">
	<textarea placeholder="remind me to ..." ng-Keypress="handle($event)" ng-model="reValue"></textarea>
</div>
<div class="card mark bio">
	<h3 class="subject">Biology</h3>
	<p class="percentage">83%</p>
</div>
<div class="card mark mus">
	<h3 class="subject">Music</h3>
	<p class="percentage">79%</p> 
</div>
<div class="card assessment">
	<div class="assessmentContainer" ng-repeat="item in assessments | limitTo: 2">
		<h5 class="assessmentName"> {{ item.name }} &nbsp;&nbsp;<span class="assessmentDate">( {{item.dueDate}} )</span></h5>
		<progress value="{{item.progress/100}}" class="progressBar"></progress>
	</div>
</div> -->