<div class="greet">
	<h3>Hello, {{user.fullName}}</h3>
	<br><p>{{status}}</p>
</div>
<!-- <div class="subjects">
	<p ng-show="!user.subjects.length" class="error">
		Looks like you are not enrolled in any courses
		<br>Please contact technical support for more information
	</p>
	<ul>
		<li ng-repeat="item in user.subjects | limitTo: 4">
			<span class="colorCode" ng-style="{ background: colorOf($index) }"></span>
			<p class="name">{{item.name}}</p>
		</li>
	</ul>
</div> -->
<div class="flash">
	<div class="now">
		<div class="decorator top">
			<span class="thick"></span>
		</div>
		<div class="info">
			<p class="title">{{flash.now.title}}</p>
			<p class="des">{{flash.now.des}}</p>
			<span class="icon"><img ng-src="{{flash.now.icon}}" alt="flash icon"/></span>
		</div>
		<span class="mode">now</span>
	</div>
	<div class="next">
		<div class="decorator top">
			<span class="thick"></span>
		</div>
		<div class="info">
			<p class="title">{{flash.next.title}}</p>
			<p class="des">{{flash.next.des}}</p>
			<span class="icon"><img ng-src="{{flash.next.icon}}" alt="flash icon"/></span>
		</div>
		<span class="mode">next up</span>
	</div>
</div>
<div class="gridster">
    <ul id="elems">
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" ng-click="expandCard($event)" data-hash="eve"></li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>
 
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1" ng-click="expandCard($event)" class="timetable">
        	<span class="info">Integrated Design lecture</span>
        	<p class="des">Landscape Engineering ( 90mins )</p>
        	<button class="view">View resources</button>
        </li>
        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2" ng-click="expandCard($event)"></li>
 
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>
        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1" ng-click="expandCard($event)"></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>
 
        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1" ng-click="expandCard($event)"></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="2" ng-click="expandCard($event)"></li>
    </ul>
</div>