<!doctype>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- start Mixpanel --><script type="text/javascript" async>(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
		mixpanel.init("49544db30464dd89a447e0e6def84790");mixpanel.track("Page visits")</script><!-- end Mixpanel -->
		<title>Dash</title>
		<link rel="shortcut icon" type="image/ico" href="assets/favicon.ico"/>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/skeleton.css">
		<link rel="stylesheet" href="css/alertify.core.css" defer="defer">
		<link rel="stylesheet" href="css/alertify.default.css" defer="defer">
		<link rel="stylesheet" href="css/gridster.css" defer="defer">
		<link rel="stylesheet" href="css/core.css" defer="defer">
	</head>
	<body ng-app="app">
		<div class="prerender">
			Just a moment while we transport our magic!
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
			   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		<div class="template nav" ng-controller="navController">
			<div class="minimized" ng-click="toggle()">
				<div class="app icon"></div>
				<div class="menu icon" ng-bind-html="menuIconState | unsafe">| | |</div>
				<div class="copyright" ng-click="credit()">&#10084;</div>
			</div>
			<div class="expanded">
				<div class="nav">
					<div class="title">{{appName}}</div>
				</div>
				<div class="options">
					<ul ng-repeat="item in items">
						<a href="#/{{item.link}}" ng-click="toggle();mixpanelAction($index)">
							<li class="item" data-link="{{item.link}}">{{item.display}}</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="template view" ng-view></div>

		<script src="js/helpers/angular.js" defer="defer"></script>
		<script src="js/helpers/angular-route.js" defer="defer"></script>
		<script src="js/helpers/alertify.min.js" defer="defer"></script>
		<script src="js/helpers/moment.js" defer="defer"></script>
		<script src="js/helpers/jquery.min.js" defer="defer"></script>
		<script src="js/helpers/underscore.js" defer="defer"></script>
		<script src="js/helpers/clndr.min.js" defer="defer"></script>
		<script src="js/helpers/gridster.js" defer="defer"></script>

		<script src="js/helpers/models.js" defer="defer"></script>
		<script src="js/controllers/main.js" defer="defer"></script>
		<script src="js/controllers/dash.js" defer="defer"></script>
		<script src="js/controllers/login.js" defer="defer"></script>
		<script src="js/controllers/option.js" defer="defer"></script>
		<script src="js/controllers/rem.js" defer="defer"></script>
		<script src="js/controllers/resources.js" defer="defer"></script>
		<script src="js/controllers/cal.js" defer="defer"></script>
		<script src="js/controllers/nav.js" defer="defer"></script>
		<script src="js/controllers/eve.js" defer="defer"></script>
	</body>
</html>