<!doctype>
<html>
	<head>
		<title>App template</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/skeleton.css">
		<link rel="stylesheet" href="css/alertify.core.css">
		<link rel="stylesheet" href="css/alertify.default.css">
		<link rel="stylesheet" href="css/core.css">
	</head>
	<body ng-app="app">
		<div class="template nav" ng-controller="navController">
			<div class="minimized" ng-click="toggle()">
				<div class="app icon"></div>
				<div class="menu icon" ng-bind-html="menuIconState | unsafe">| | |</div>
				<div class="copyright" ng-click="credit()">&#10084;</div>
			</div>
			<div class="expanded">
				<div class="nav">
					<div class="title">{{appName}}</div>
				</div>
				<div class="options">
					<ul ng-repeat="item in items">
						<a href="#/{{item.link}}" ng-click="toggle()">
							<li class="item" data-link="{{item.link}}">{{item.display}}</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="template view" ng-view></div>

		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/keyboard.js"></script>
		<script src="js/noca.js"></script>
		<script src="js/alertify.min.js"></script>

		<script src="js/models.js"></script>
		<script src="js/controllers/main.js"></script>
		<script src="js/controllers/login.js"></script>
		<script src="js/controllers/rem.js"></script>
		<script src="js/controllers/dash.js"></script>
		<script src="js/controllers/nav.js"></script>
	</body>
</html>